@font-face {
    font-family: 'RobotoBold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

body {
    background-color: #36384d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    display: flex;
    border-radius: 25px;
    padding: 20px;
    color: #232742;
    height: 400px;
    font-family: 'RobotoRegular', sans-serif;
    flex-direction: row-reverse;
}

button, input {
    border-radius: 5px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #232742;
    color: white;
    border: 0;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(to right, #fe527a, #fe693e);
    box-shadow: 0px 5px 30px #ff754f;
}

input {
    border: 1px solid lightgray;
    padding-left: 10px;
}

input:hover {
    border: 1px solid black;
}

input.warningInput {
    border-color: red;
    background-color: #ffe8e6;
}

input.warningInput::placeholder {
    color: red;
}

.form-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    padding: 0 40px 0 20px;
    box-sizing: border-box;
}

.form-container h1 {
    font-family: 'RobotoBold', sans-serif;
    margin: 0px;
    font-size: 2em;
    letter-spacing: 0.05em;
}

.form-container p {
    font-size: 0.8em;
    font-weight: 500;
}

.container img {
    height: 100%;
}

li::marker {
    content: '';
}

li img {
    width: 15px;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
    padding: 5px 0;
}

ul {
    margin: 0;
    padding: 0;
}

form { 
    margin-top: 20px;
    width: 100%;
}

label {
    font-family: 'RobotoBold', sans-serif;
    font-size: small;
}

.warning {
    color: red;
    display: none;
    padding: 0;
    margin: 0;
}

.after-message {
    display: none;
    background-color: white;
    border-radius: 25px;
    padding: 35px;
    color: #232742;
    width: 300px;
    font-family: 'RobotoRegular', sans-serif;
}

.after-message img {
    width: 40px;
}

.after-message h2 {
    font-size: 2em;
    font-family: 'RobotoBold', sans-serif;
}

.email-and-warning {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }

    .container img {
        width: 100%;
    }

    .left-side-img {
        margin: 0;
        padding: 0;
    }

    .after-message {
        position: relative;
        display: none;
        background-color: white;
        padding: 35px;
        color: #232742;
        width: 300px;
        font-family: 'RobotoRegular', sans-serif;
        margin: 0;
        height: 100%;
        width: 100%;
        border-radius: 0px;
        box-sizing: border-box;
    }

    .after-message img {
        width: 60px;
        margin-top: 70px;
    }

    .after-message button {
        position: absolute;
        bottom: 30px;
        width: 80%;
    }
    
    li img {
        width: 20px !important;
    }

    .form-container {
        padding: 20px 20px;
        align-self: center;
        justify-self: center;
    }

    .left-side-img {
        object-fit: cover;
    }
}